body{
  background-color: rgb(194, 225, 251);
  font-family:monospace;
}

.Heading{
  color:rgb(60, 100, 120);
  padding:10px;
  margin-bottom:15px;
  border-width:5px;
  border-style:solid;
  border-color: rgb(224, 112, 99);
  background-color: rgba(260, 150, 120, 0.6);
}

.content{
  padding-bottom:15px;
  border-top-style:solid;
  border-bottom-style:solid;
  border-color: gray
}

.block{
  padding:10px;
  border-width:5px;
  border-style:solid;
  border-color: rgb(220, 234, 139);
  background-color: rgb(250, 248, 199);
  border-radius: 20px;
}

.link{
  
}

.search:focus{
  border-color:gray;
  background:lightgray;
  width:500px;
}

.demo{
  
}

.ending{
  position: fixed;
  bottom: 0;
  right:0;
  width:500px;
  padding:5px;
  border-style:groove;
  border-width:5px;
  border-color:orange;
  background-color:rgba(255, 255, 255, 0.6)
}

.ending:hover{
  color:rgba(255, 255, 255, 0);
  border-color:rgba(255, 255, 255, 0);
  background-color:rgba(255, 255, 255, 0)
}