* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    background: #eee;
	color: #333333;
	font-family: 'Lato', sans-serif;
	
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}



/* *************** */





/* 首頁header */

.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-color: #f8f1f1;
}

.header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lato', sans-serif;
    font-size: 70px;
    font-weight: 300;
    white-space: nowrap;
    transition: font-size 0.2s;
}

.header__text:hover {
    font-size: 73px;
}




/* 以防文章上方被擋到 */

.blank{
    height: 20vh;
    /* background-color: gr; */
}



.navbar {
    z-index: 1000;
    position: fixed;
    height: 65px;
    width: 100%;
    box-shadow: 1px 1px 2px #d7ccc8;
    /* 導覽列的陰影  就像一條線*/
    color: #eee;
    /* 文字顏色 */
}

.navbar__background {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.65); */
    background-color:  #a3816a;
}

.navbar__nav {
    height: 65px;
    display: flex;
}

.navbar__title {
    font-size: 30px;
    font-weight: 300;
    display: inline-block;
    text-align: left;
    align-self: center;
}


.navbar__list {
    display: inline-block;
    align-self: center;
    margin-left: auto;
}



/* 分頁的字 */

.text-wrap{
	margin: 10px;
	
}
.text-wrap a{
    text-decoration-line: none;
    color: #eee;
}








/* footer */


.section__body {
    position: relative;
    display: block;
    width: 100%;
    display: inline-flex;
    padding: 30px 0;
    background-color: #d2c8c8;
    flex-direction:row;
}
.section__body p {
    margin-left: 25vh; 
}
.section__body img {
    margin-left: 25vh;
}

.section__body p a:link,
.section__body p a:visited {
    color: inherit;
    text-decoration: none;
}







